<div class="toolbar">
	<h4>Toolbar {$toolbar_id}</h4>
	<ul class="toolbar">
		<li><a href="{'/logging/logging/index'|route}" title="Terug" class="up">Terug</a></li>
	</ul>
</div>

<table class="form">
<tr><th>Gebruiker</th><td>{$row.user|htmlspecialchars}</td></tr>
<tr><th>Datum</th><td>{$row.timestamp|date_format}</td></tr>
<tr><th>Hash</th><td>{$row.hash|htmlspecialchars}</td></tr>
<tr><th>Invoer</th><td><pre style="line-height: normal;">{$row.xml_in|htmlspecialchars}</pre></tr>
<tr><th>Uitvoer</th><td><pre style="line-height: normal;">{$row.xml_out|replace:'><':">\n<"|htmlspecialchars}</pre></tr>
</table>
