{pofile wiki}
{assign var=logo value=$project->logo->getThumbnail(200)}
{assign var=screenshot value=$project->screenshot->getThumbnail(200)}
{if $logo || $screenshot}<div style="float:right;">
{if $logo}<div style="margin: 5px; padding: 5px; border: 1px solid black;"><img src="http{if $smarty.server.HTTPS}s{/if}://{$smarty.server.HTTP_HOST}{$logo}" alt="{$logo|basename}" /></div>{/if}
{if $screenshot}<div style="margin: 5px; padding: 5px; border: 1px solid black;"><img src="http{if $smarty.server.HTTPS}s{/if}://{$smarty.server.HTTP_HOST}{$screenshot}" alt="{$screenshot|basename}" /></div>{/if}
</div>{/if}
<div style="float: right;">[<a href="{'/projects/index/publish/'|cat:$project->id|route}">##project.publish##</a>]</div>
<p><em>##project.notpublished##</em></p>
<div style="float: right;">[<a href="{'/projects/index/change/'|cat:$project->id|route}">{'##project.change##'|strtolower}</a>]</div>
<ul><li><b>##project.owner##</b>: <a href="##wiki.path##/User:{$project->user->user_name|htmlspecialchars}" class="?new?" title="User:{$project->user->user_name|htmlspecialchars}">{$project->user->user_name|htmlspecialchars}</a> (<a href="##wiki.path##/User_talk:{$project->user->user_name|htmlspecialchars}" class="?new?" title="User talk:{$project->user->user_name|htmlspecialchars}">##project.talk##</a> • <a href="##wiki.path##/Special:Contributions/{$project->user->user_name|htmlspecialchars}">##project.contribs##</a>)</li>
{assign var=date value=$project->date|strtotime}<li><b>##project.date##</b>: {'##project.date_format##'|strftime2:$date}</li>
<li><b>##project.website##</b>: <a href="{$project->website|htmlspecialchars}" class="external free" title="{$project->website|htmlspecialchars}" rel="nofollow">{$project->website|htmlspecialchars}</a></li>
{if $project->rss}<li><b>##project.rss##</b>: <a href="{$project->rss|htmlspecialchars}" class="external free" href="{$project->rss|htmlspecialchars}" rel="nofollow">{$project->rss|htmlspecialchars}</a></li>{/if}
<li><b>##project.license##</b>: {$project->license|htmlspecialchars}</li></ul>

<a name="##project.description##"></a><h3><span class="mw-headline"> ##project.description## </span></h3>
<p>{$project->description|htmlspecialchars|replace:"\n":"</p><p>"}</p>

<a name="##project.files##"></a><h3><span class="mw-headline"> ##project.files## </span></h3>
{render url='/projects/index/filelist/'|cat:$project->id}

