{pofile form}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>{$title}</title>
	{meta http_equiv='Content-Type' content='text/html; charset=utf-8'}
	{meta name='Robots' content='noindex,nofollow'}
	{meta name='Language' http_equiv='Language' content='Dutch'}	
	{include_style src='/assets/skins/backoffice/stylesheets/base.css'}
	{include_style src='/assets/skins/backoffice/stylesheets/crud.css'}
	{include_style src='/assets/widgets/formgen/stylesheets/simpleTabs.css'}
	{include_style src='/assets/widgets/calendar/stylesheets/calendar.css'}
	{include_style src='/assets/widgets/moorainbow/stylesheets/mooRainbow.css'}

	<script type="text/javascript" src="/assets/widgets/mootools/javascripts/mootools.js"></script>
	<script type="text/javascript">var confirmMessage = '##confirm.delete##'; </script>
	<script type="text/javascript" src="/assets/skins/backoffice/javascripts/backoffice.js"></script>
	<script type="text/javascript" src="/assets/widgets/mootools/javascripts/framework.js"></script>
	<script type="text/javascript" src="/assets/widgets/calendar/javascripts/calendar.js"></script>
	<script type="text/javascript" src="/assets/widgets/formgen/javascripts/formlib.js"></script>
	<script type="text/javascript" src="/assets/widgets/formgen/javascripts/simpleTabs.js"></script>
	<script type="text/javascript" src="/assets/widgets/tiny_mce/tiny_mce_src.js"></script>
	<script type="text/javascript" src="/assets/widgets/tiny_mce/config/base.js"></script>
	
	<script type="text/javascript" src="/assets/widgets/moorainbow/javascripts/mooRainbow.js"></script>
</head>

<body>
{$content}
</body>
</html>