form table th, form table td, table.form th, table.form td {
	vertical-align: top;
	line-height: 20px;
}

textarea, input[type=text] {
	width: 400px;
	border: 1px solid #3399ff;
	padding: 5px 0 0 5px;
}

input[type=text] {
	padding: 3px 0 3px 5px;
}