{pofile wiki}
<div class="gumax-center" align="center">
<div id="gumax-rbox" align="left">
<div class="gumax_head_acc">
		<!-- Login -->
		<div id="gumax-p-login">
			<ul>
										</ul>

		</div>
		<!-- end of Login -->
		
		<!-- Special and Login menu -->
		<div id="gumax-p-special">
			<ul>
			{if $user->user_id}
				<li id="gumax-pt-userpage"><a href="##wiki.path##/##wiki.namespace.user##:{$user->user_name|htmlspecialchars}" title="##wiki.user.title## [.]" accesskey="." class="?new?">{$user->user_name|htmlspecialchars}</a></li>
				<li id="gumax-pt-mytalk"><a href="##wiki.path##/##wiki.namespace.usertalk##:{$user->user_name|htmlspecialchars}" title="##wiki.mytalk.title## [n]" accesskey="n" class="?new?">##wiki.mytalk##</a></li>

				<li id="gumax-pt-preferences"><a href="##wiki.path##/##wiki.namespace.special##:##wiki.special.preferences##" title="##wiki.mypreferences.title##">##wiki.mypreferences##</a></li>
				<li id="gumax-pt-watchlist"><a href="##wiki.path##/##wiki.namespace.special##:##wiki.special.watchlist##" title="##wiki.mywatchlist.title## [l]" accesskey="l">##wiki.mywatchlist##</a></li>
				<li id="gumax-pt-mycontris"><a href="##wiki.path##/##wiki.namespace.special##:##wiki.special.contributions##/{$user->user_name|htmlspecialchars}" title="##wiki.mycontributions.title## [y]" accesskey="y">##wiki.mycontributions##</a></li>
				<li id="gumax-pt-logout"><a href="/w/index.php?title=##wiki.namespace.special##:##wiki.special.userlogout##&amp;returnto=Redirect:{$smarty.server.REQUEST_URI|urlencode}" title="##wiki.logout.title##">##wiki.logout##</a></li>
			{else}
				<li id="gumax-pt-anonuserpage"><a href="##wiki.path##/##wiki.namespace.user##:{$smarty.server.REMOTE_ADDR}" class="?new?">{$smarty.server.REMOTE_ADDR}</a></li>
				<li id="gumax-pt-anontalk"><a href="##wiki.path##/##wiki.namespace.usertalk##:{$smarty.server.REMOTE_ADDR}" class="?new?">##wiki.anontalk##</a></li>

				<li id="gumax-pt-anonlogin"><a href="/w/index.php?title=##wiki.namespace.special##:##wiki.special.userlogin##&amp;returnto=Redirect:{$smarty.server.REQUEST_URI|urlencode}">##wiki.login##</a></li>
			{/if}
			</ul>

		</div>
		<!-- end of Special and Login menu -->

</div>
<div class="gumax_box_acc">
<div class="gumax-rbroundbox"><div class="gumax-rbtop"><div><div></div></div></div>
<div class="gumax-rbcontentwrap"><div class="gumax-rbcontent">

	<div class="gumax">
	<!-- =================== gumax-page =================== -->
	<div id="gumax-page">
	
	<!-- ===== Header ===== -->

	<div id="gumax-header">
		<a name="top" id="contentTop"></a>

		<!-- Site Logo -->
		<div id="gumax-p-logo">
			<div id="p-logo">
			<a style="background-image: url(/w/skins/common/images/logo.gif);" href="##wiki.path##/##wiki.mainpage##"></a>
			</div>
		</div>

		<script type="text/javascript"> if (window.isMSIE55) fixalpha(); </script>
		<!-- end of Site Logo -->

		<!-- Search -->
		<div id="gumax-p-search" class="gumax-portlet">
			<div id="gumax-searchBody" class="gumax-pBody">
				<form action="##wiki.path##/##wiki.namespace.special##:##wiki.special.search##" id="searchform"><div style="padding-right:10px;">
					<input id="searchInput" name="search" type="text" accesskey="f" value="" />
					<input type='submit' name="go" class="searchButton" id="searchGoButton" value="##wiki.search.go##" />
					<input type='submit' name="fulltext" class="searchButton" id="mw-searchButton" value="##wiki.search##" />
				</div></form>
			</div>
		</div> <!-- end of gumax-p-search DIV -->

		<!-- end of Search -->
	</div> <!-- end of header DIV -->
	<!-- ===== end of Header ===== -->

	<!-- Navigation Menu -->
	<div id="gumax-p-navigation-wrapper">
					<div class='gumax-portlet' id='gumax-p-navigation'>
				<h5>##wiki.navigation##</h5>

				<div id="gumax-p-navigation">
					<ul>
						<li id="n-mainpage-description"><a href="##wiki.path##/##wiki.mainpage##">##wiki.mainpage##</a></li>
						<li id="n-portal"><a href="##wiki.path##/##wiki.name##:##wiki.portal.page##">##wiki.communityportal##</a></li>
						<li id="n-currentevents"><a href="##wiki.path##/##wiki.name##:##wiki.currentevents##">##wiki.currentevents##</a></li>
						<li id="n-recentchanges"><a href="##wiki.path##/##wiki.namespace.special##:##wiki.special.recentchanges##">##wiki.recentchanges##</a></li>
						<li id="n-randompage"><a href="##wiki.path##/##wiki.namespace.special##:##wiki.special.random##">##wiki.randompage##</a></li>
						<li id="n-help"><a href="##wiki.path##/##wiki.help.page##">##wiki.help##</a></li>
					</ul>
				</div>
			</div>
			</div>
	<!-- end of Navigation Menu -->

	<div id="main_menu_spacer"></div>

	<!-- ===== dynamic site logo ===== -->
	<!-- Get page name -->
		<!-- ===== end of dynamic site picture ===== -->

	<!-- ===== Content body ===== -->
	<div id="gumax-content-body">
	<!-- Main Content -->
	<div id="content">
		<a name="top" id="top"></a>
				<h1 class="firstHeading">{$title}</h1>
		<div id= "bodyContent" class="gumax-bodyContent">
			<h3 id="siteSub">{'##wiki.from##'|sprintf:'##wiki.name##'}</h3>

			<div id="contentSub"></div>
									<div id="jump-to-nav">##wiki.jumpto##: <a href="#column-one">{'##wiki.navigation##'|strtolower}</a>, <a href="#searchInput">{'##wiki.search##'|strtolower}</a></div>			<!-- start content -->
{$content}
<div class="printfooter">
                        <!-- end content -->

            <div class="visualClear"></div>
        </div>
    </div>
    <!-- end of Main Content -->
    </div>
    <!-- ===== end of Content body ===== -->

    <!-- ===== gumax-content-actions ===== -->
    <div id="gumax-content-actions">

        <ul>
                                </ul>
    </div>
    <!-- ===== end of gumax-content-actions ===== -->

    </div> <!-- end of gumax-page DIV -->
    <!-- =================== end of gumax-page =================== -->

    <div id="footer_spacer"></div>

    <!-- =================== gumax-page-footer =================== -->
    <div id="gumax-page-footer">
        <!-- personal tools  -->
        <div id="gumax-personal-tools">
            <ul>
                        </ul>
        </div>
        <!-- end of personal tools  -->

        <!-- gumax-footer -->
        <div id="gumax-footer">
            <div id="gumax-f-message">
                            </div>

            <ul id="gumax-f-list">
                <!--
					<li id="privacy"><a href="##wiki.path##/##wiki.name##:##wiki.privacypolicy##" title="##wiki.name##:##wiki.privacypolicy##">##wiki.privacypolicy##</a></li>
					<li id="about"><a href="##wiki.path##/##wiki.name##:##wiki.about.page##" title="##wiki.name##:##wiki.about.page##">{'##wiki.about##'|sprintf:'##wiki.name##'}</a></li>
					<li id="disclaimer"><a href="##wiki.path##/##wiki.name##:##wiki.disclaimer.page##" title="##wiki.name##:##wiki.disclaimer.page##">##wiki.disclaimers##</a></li>
                                -->
                <!--<li><a href="#">&copy; 2005 - 2007 PaulGu.com</a></li>
                <li><a href="http://mediawiki.org">Powered by MediaWiki</a></li>
                <li id="f-designby"><a href="http://paulgu.com">Design by Paul Gu</a></li>-->
            </ul>
        </div>  <!-- end of gumax-footer -->
        
		<script type="text/javascript">if (window.runOnloadHook) runOnloadHook();</script>
    </div>  <!-- end of gumax-page-footer -->

    <!-- =================== end of gumax-page-footer =================== -->
    </div>  <!-- class: gumax -->

</div></div>
<div class="gumax-rbbot"><div><div></div></div></div></div>
<div class="special_bottom_acc"><div style="float:right;"><a style="color:#fff;" href="##wiki.path##/Contact_Us">Contact us</a> | <a href="##wiki.path##/Terms" style="color:#fff;">Terms and conditions</a></div>&copy; 2009 - <a style="color:#fff;" href="http://www.hetnieuwestemmen.nl">Stichting Het Nieuwe Stemmen</a></div>
<div class="special_participation_acc"><a href="http://www.digitalepioniers.nl/"><img src="/w/skins/common/images/dplogo.gif" style="float:right;padding-left:10px;" /></a>##wiki.participation##</div>
</div>

<div class="gumax_foot_acc"></div>
</div>
</div> <!--  end of gumax-center -->
<script type="text/javascript">if (window.runOnloadHook) runOnloadHook();</script>

