{pofile wiki}
	<div id="globalWrapper">
		<div id="column-content">
	<div id="content">
		<a name="top" id="top"></a>
				<h1 id="firstHeading" class="firstHeading">{$title}</h1>
		<div id="bodyContent">
			<h3 id="siteSub">{'##wiki.from##'|sprintf:'##wiki.name##'}</h3>

			<div id="contentSub"></div>
									<div id="jump-to-nav">##wiki.jumpto##: <a href="#column-one">{'##wiki.navigation##'|strtolower}</a>, <a href="#searchInput">{'##wiki.search##'|strtolower}</a></div>			<!-- start content -->
{$content}
						<!-- end content -->
						<div class="visualClear"></div>
		</div>
	</div>

		</div>
		<div id="column-one">
	<div id="p-cactions" class="portlet">
		<h5>##wiki.views##</h5>
		<div class="pBody">
			<ul>
	
				 <li id="ca-nstab-main" class="selected"><a title="##wiki.page.title## [c]" accesskey="c">##wiki.page##</a></li>
			</ul>

		</div>
	</div>

	<div class="portlet" id="p-personal">
		<h5>##wiki.personaltools##</h5>
		<div class="pBody">
			<ul>
			{if $user->user_id}
				<li id="pt-userpage"><a href="##wiki.path##/##wiki.namespace.user##:{$user->user_name|htmlspecialchars}" title="##wiki.user.title## [.]" accesskey="." class="?new?">{$user->user_name|htmlspecialchars}</a></li>
				<li id="pt-mytalk"><a href="##wiki.path##/##wiki.namespace.usertalk##:{$user->user_name|htmlspecialchars}" title="##wiki.mytalk.title## [n]" accesskey="n" class="?new?">##wiki.mytalk##</a></li>

				<li id="pt-preferences"><a href="##wiki.path##/##wiki.namespace.special##:##wiki.special.preferences##" title="##wiki.mypreferences.title##">##wiki.mypreferences##</a></li>
				<li id="pt-watchlist"><a href="##wiki.path##/##wiki.namespace.special##:##wiki.special.watchlist##" title="##wiki.mywatchlist.title## [l]" accesskey="l">##wiki.mywatchlist##</a></li>
				<li id="pt-mycontris"><a href="##wiki.path##/##wiki.namespace.special##:##wiki.special.contributions##/{$user->user_name|htmlspecialchars}" title="##wiki.mycontributions.title## [y]" accesskey="y">##wiki.mycontributions##</a></li>
				<li id="pt-logout"><a href="/w/index.php?title=##wiki.namespace.special##:##wiki.special.userlogout##&amp;returnto=Redirect:{$smarty.server.REQUEST_URI|urlencode}" title="##wiki.logout.title##">##wiki.logout##</a></li>
			{else}
				<li id="pt-anonuserpage"><a href="##wiki.path##/##wiki.namespace.user##:{$smarty.server.REMOTE_ADDR}" title="##wiki.anonuser.title## [.]" accesskey="." class="?new?">{$smarty.server.REMOTE_ADDR}</a></li>
				<li id="pt-anontalk"><a href="##wiki.path##/##wiki.namespace.usertalk##:{$smarty.server.REMOTE_ADDR}" title="##wiki.anontalk.title## [n]" accesskey="n" class="?new?">##wiki.anontalk##</a></li>

				<li id="pt-anonlogin"><a href="/w/index.php?title=##wiki.namespace.special##:##wiki.special.userlogin##&amp;returnto=Redirect:{$smarty.server.REQUEST_URI|urlencode}" title="##wiki.login.title## [o]" accesskey="o">##wiki.login##</a></li>
			{/if}
			</ul>
		</div>
	</div>

	<div class="portlet" id="p-logo">
		<a style="background-image: url(/w/skins/common/images/logo.png);" href="##wiki.path##/##wiki.mainpage##" title="##wiki.mainpage.title## [z]" accesskey="z"></a>
	</div>
	<script type="text/javascript"> if (window.isMSIE55) fixalpha(); </script>
	<div class='generated-sidebar portlet' id='p-navigation'>
		<h5>##wiki.navigation##</h5>
		<div class='pBody'>
			<ul>

				<li id="n-mainpage-description"><a href="##wiki.path##/##wiki.mainpage##">##wiki.mainpage##</a></li>
				<li id="n-portal"><a href="##wiki.path##/##wiki.name##:##wiki.portal.page##" title="##wiki.communityportal.title##">##wiki.communityportal##</a></li>
				<li id="n-currentevents"><a href="##wiki.path##/##wiki.name##:##wiki.currentevents##" title="##wiki.currentevents.title##">##wiki.currentevents##</a></li>
				<li id="n-recentchanges"><a href="##wiki.path##/##wiki.namespace.special##:##wiki.special.recentchanges##" title="##wiki.recentchanges.title## [r]" accesskey="r">##wiki.recentchanges##</a></li>
				<li id="n-randompage"><a href="##wiki.path##/##wiki.namespace.special##:##wiki.special.random##" title="##wiki.randompage.title## [x]" accesskey="x">##wiki.randompage##</a></li>
				<li id="n-help"><a href="##wiki.path##/##wiki.help.page##" title="##wiki.help.title##">##wiki.help##</a></li>

			</ul>
		</div>
	</div>
	<div id="p-search" class="portlet">
		<h5><label for="searchInput">##wiki.search##</label></h5>
		<div id="searchBody" class="pBody">
			<form action="/w/index.php" id="searchform"><div>
				<input type='hidden' name="title" value="##wiki.namespace.special##:##wiki.special.search##"/>

				<input id="searchInput" name="search" type="text" title="{'##wiki.search.input.title##'|sprintf:'##wiki.name##'} [f]" accesskey="f" value="" />
				<input type='submit' name="go" class="searchButton" id="searchGoButton"	value="##wiki.search.go##" title="##wiki.search.go.title##" />&nbsp;
				<input type='submit' name="fulltext" class="searchButton" id="mw-searchButton" value="##wiki.search##" title="##wiki.search.title##" />
			</div></form>
		</div>
	</div>
	<div class="portlet" id="p-tb">
		<h5>##wiki.toolbox##</h5>

		<div class="pBody">
			<ul>
<li id="t-upload"><a href="##wiki.path##/##wiki.namespace.special##:##wiki.special.upload##" title="##wiki.uploadfile.title## [u]" accesskey="u">##wiki.uploadfile##</a></li>
<li id="t-specialpages"><a href="##wiki.path##/##wiki.namespace.special##:##wiki.special.specialpages##" title="##wiki.specialpages.title## [q]" accesskey="q">##wiki.specialpages##</a></li>

		</div>
	</div>
		</div><!-- end of the left (by default at least) column -->
			<div class="visualClear"></div>
			<div id="footer">
			<ul id="f-list">
					<li id="privacy"><a href="##wiki.path##/##wiki.name##:##wiki.privacypolicy##" title="##wiki.name##:##wiki.privacypolicy##">##wiki.privacypolicy##</a></li>
					<li id="about"><a href="##wiki.path##/##wiki.name##:##wiki.about.page##" title="##wiki.name##:##wiki.about.page##">{'##wiki.about##'|sprintf:'##wiki.name##'}</a></li>
					<li id="disclaimer"><a href="##wiki.path##/##wiki.name##:##wiki.disclaimer.page##" title="##wiki.name##:##wiki.disclaimer.page##">##wiki.disclaimers##</a></li>
			</ul>
		</div>
</div>

		<script type="text/javascript">if (window.runOnloadHook) runOnloadHook();</script>

